---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Sibility.dev">
  <main class="flex flex-col items-center justify-center p-4">
    <img src="/images/sibility-icon.svg" alt="Sibility.dev logo" class="w-64" />
    <h2 class="font-sans text-3xl text-center">Accessibility Made. Easy, Peazy.</h2>
  </main>
</Layout>
